<div class="board">
    <div class="board-title title">
        Добавить проект
    </div>
    <form #addForm='ngForm' (ngSubmit)='addProject(addForm)' > 
        <div class="form-group">
            <label for="" class="form-label">Название</label>
            <input type="text" name="title" class="form-input" ngModel>
        </div>
        <div class="form-group">
            <label for="" class="form-label">Дата</label>
            <input type="date" id="start" name="date"  min="2018-01-01" max="2021-12-31" ngModel>
            <!-- <input type="datetime-local" name="" id=""> -->
        </div>
        <div class="form-group">
            <label for="e" class="form-label file">Обложка</label>
            <input type="file" name="thumb" id="e" class="form-file" accept=".jpg, .png" (change)='uploadThumb($event)'>
        </div>
        <div class="form-group">
            <label for="" class="form-label file">Альбом</label>
            <input  type="file" name="album" id="album" class="form-file" accept=".jpg, .png" multiple (change)='upload($event)'>
        </div>
        <div class="form-group">
            <label for="" class="form-label">Описание</label>
            <textarea name="description" id="" cols="30" rows="2" class="form-textarea" ngModel></textarea>
        </div>
        <div class="form-group buttons">
            <button type="submit" class="btn form-btn">Сохранить</button>
        </div>
        <div>
            {{projectLoader}}
        </div>
    </form>
    <!-- <app-goback></app-goback> -->
</div>