.content {
    position: relative;
}

.main-text {
    // background: url('../../../../assets/main-background.png');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 9;
    position: relative;
    padding: 260px 0px 300px 0px;
    // height: 65.5vh;
}

.main-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    img {
        width: 100%;
    }
}

.main-title {
    p {
        margin: 0;
        padding: 0;
        font-size: 36px;
        color: #fff;
        font-weight: 700;
    }

    p span {
        font-weight: 400;
    }

    h1 {
        margin: 0;
        padding: 0;
        font-size: 48px;
        color: #e5cb96;
    }
}

@media screen and (max-width: 600px) {
    .main-title {
        h1 {
            font-size: 36px !important;
        }
    }
    .main-text {
        padding: 0;
    }
}
