<div class="content">
    <app-header></app-header>
    <div class="main-background">
        <img src="../../../../assets/main-background.png" alt="Main background image">
        <div class="main-title">
            <p><span>Я, </span>Ансель Адамс</p><br>
            <h1>Арт-фотограф</h1>
        </div>
    </div>
    <div class="container">

        <app-bio></app-bio>
        <!-- Project list -->

        <app-cardlist></app-cardlist>

        <!-- /Project list -->
        <app-contacts></app-contacts>
    </div>
    <!-- Main -->
    <!-- /Main -->
    <app-footer></app-footer>
</div>