<ngx-slick-carousel class="carousel" 
  #slickModal="slick-carousel" 
  [config]="slideConfig" 
><div ngxSlickItem *ngFor="let slide of imgArr" class="slide">
<img src="{{ slide.url }}" alt="" width="100%">
</div>
</ngx-slick-carousel>
<!-- 
<button (click)="addSlide()">Add</button>
<button (click)="removeSlide()">Remove</button>
<button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
<button (click)="slickModal.unslick()">unslick</button> -->
<ng-template #load>
    <p>Load...</p>
</ng-template>