<div class="pannel">
    <div class="admin-photo">
        <img src="../../../../../assets/admin/admin-photo.png" alt="Admin photo">
    </div>
    <div class="admin-text">

        <div class="admin-info">
            Добро пожаловать
            <div class="admin__name">
                Aнсель Адамс
            </div>
            <div class="admin__mail">
                anseladams@gmail.com
            </div>
        </div>
    </div>
    <div class="admin-nav">
        <nav>
            <a class="admin-nav__link" routerLink='admin/main'>Добавить проект</a>
            <a class="admin-nav__link" routerLink="admin/main/fff">Проекты</a>
            <a class="admin-nav__link" routerLink="admin/messages">Сообщения</a>
        </nav>
    </div>
</div>