<div class="admin-pannel">
    <div class="admin-photo">
        <img src="../../../../../assets/admin/admin-photo.png" alt="">
    </div>
    <div class="admin-info">
        <div class="admin-text hello">
            Добро пожаловать
        </div>
        <div class="admin-text name">
            Ансель Адамс
        </div>
        <div class="admin-text mail">
            anseladams@gmail.com
        </div>
    </div>
    <div class="admin-nav">
        <nav>
            <a routerLink='/admin/main-page/project'>Добавить проект</a>
            <a routerLink="/admin/main-page/project-list">Проекты</a>
            <a routerLink="/admin/main-page/messages">Сообщения</a>
        </nav>
    </div>
</div>