<div class="contacts">
    <div class="contact-image">
        <img src="../../../../assets/contact/contact.png" alt="Contact image">
    </div>
    <div class="contact-text">
        <div class="contact__title">
            Био
        </div>
        <div class="contact__name">
            <div class="name">
                Ансель Адамс
            </div>
            <div class="name__subtitle">
                авг. 12 1990
            </div>
        </div>
        <div class="contact__info">
            Я занимаюсь фотграфией уже на протяжении 25 лет, за это время я сделал более миллиарда снимков, в более чем
            120 странах нашей планеты.
        </div>
        <div class="contact__q">
            «Первые 10 000 фотографий – худшие»
            <span>Анри Картье-Брессон.</span>
        </div>
        <div class="contact__social">
            <app-social-bar></app-social-bar>
        </div>
    </div>
</div>