<form #form="ngForm" (ngSubmit)='auth(form)'>
    <div class="msg" *ngIf='errMsg!=null'>
        {{errMsg}}
    </div>
    <div class="form-group">
        <label for="">
            Username
        </label>
        <input type="text" name="username" ngModel required>
    </div>
    <div class="form-group">
        <label for="">
            Password
        </label>
        <input type="text" name="password" ngModel required>
    </div>
    <div class="form-group">
        <button type="submit">send</button>
    </div>
</form>