.project {
    .project-title {
        color: #E5CB96;
        font-size: 48px;
        font-weight: 700;
    }
    .project-subtitle {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 36px;
        color: #2F2F2F;
    }
}
