.project {
    padding: 65px 0px 80px 0px;
    .project-title {
        color: #E5CB96;
        font-size: 48px;
        font-weight: 700;
        margin: 0px 0px 5px 0px;
    }
    .project-subtitle {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 36px;
        color: #2F2F2F;
        margin: 0;
    }
}
