<a *ngIf='Item != null; else loader' routerLink="project/{{Item.id}}" class="card">
    <div class="card__inner">
        <div class="card-image" *ngIf='Item.url != null; else loader'>
            <img src="{{Item.url}}" alt="">
        </div>
        <div class="card-text">
            <div class="card-title">
                {{Item.title}}
            </div>
            <div class="card-subtitle">
                {{Item.date}}
            </div>
        </div>
        <div class="more">Подробнее</div>
        <div class="shadow"></div>
    </div>
</a>

<ng-template #loader>
    <div class="loader">
        <app-loader></app-loader>
    </div>
</ng-template>