.bios {
    display: flex;
    padding: 90px 0px;

    .bio-text {
        margin-left: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .bio__title,
        .bio__name {
            font-size: 36px;
            color: #2f2f2f;
            font-weight: 700;
            margin-bottom: 30px;
        }

        .name__subtitle {
            font-size: 22px;
            font-weight: 700;
            color: #2f2f2f;
            font-family: 'Roboto', sans-serif;
        }

        .bio__info {
            margin: 30px 0px 60px 0px;
            font-size: 22px;
            line-height: 130%;
            font-weight: normal;
        }

        .bio__q {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 80px;
            span {
                font-weight: 400;
            }
        }
    }
    span {
        font-family: 'Roboto', sans-serif;
    }
}

