/* You can add global styles to this file, and also import other style files */
:export {
    --accent: #e5cb96;
}

@font-face {
    font-family: "Raleway";
    src: url("./assets/fonts/Raleway-Regular.woff");
    font-weight: 400;
}

@font-face {
    font-family: "Raleway";
    src: url("./assets/fonts/Raleway-Bold.woff");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Regular.woff");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Bold.woff");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Thin.woff");
    font-weight: 300;
}

.container {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #bababa;
    opacity: 0.7;
    border: 1px solid #fff;
    border-radius: 6px;

    &:hover {
        background-color: #999999;
    }
}

.btn {
    background-color: #2f2f2f;
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    padding: 9px 60px 11px 60px;
    border-radius: 120px;
    border: none;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #e5cb96;
    }
}

.title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #2f2f2f;
}

.link {
    transition: 0.3s ease-in-out;
    &:hover {
        cursor: pointer;
        color: #e5cb96;
    }
}

// Cursor

.cursor {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    contain: layout style size;
    pointer-events: none;
    &:before {
        content: "";
        position: absolute;
        top: -24px;
        left: -24px;
        display: block;
        width: 48px;
        height: 48px;
        transform: scale(0.2);
        background: black;
        border-radius: 50%;
    }

    .cursor-media {
        display: block;
        height: 350px;
        width: 350px;
        overflow: hidden;
        border-radius: 100%;
        transform: scale(0);
        margin: -175px 0 0 -175px;
        position: relative;
        video {
            height: 350px;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
        }
    }
}
