.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    position: relative;
    z-index: 10;
}

.project {
    background: #fff;
    // border-bottom: 1px solid #cecece;

    path {
        fill: black;
    }
}