// If page project detail
header.project {
    border-bottom: 1px solid #cecece;
    background: #fff;
    path {
        fill: black;
    }
}


header {
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
